@model IEnumerable<stajprojem.Models.Customer>

@{
    ViewData["Title"] = "Müşteriler";
}

<h2>Müşteriler</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Firma</th>
            <th>Yetkili</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Adres</th>
            <th>Şehir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.company_name</td>
                <td>@item.contact_person</td>
                <td>@item.email</td>
                <td>@item.phone</td>
                <td>@item.address</td>
                <td>@item.city</td>
            </tr>
        }
    </tbody>
</table>
